<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8"/>
  <title>SimpleBoard | 회원가입</title>
</head>
<body>
<form action="join" method="post">
  <p>
    <label for="txtMemberId">ID</label> &nbsp;
    <input type="text" id="txtMemberId" name="memberId" placeholder="아이디를 입력해주세요.">
  </p>
  <p>
    <label for="txtPassword">Password</label> &nbsp;
    <input type="text" id="txtPassword" name="password" placeholder="비밀번호를 입력해주세요.">
  </p>
  <p>
    <label for="txtNickname">NickName</label> &nbsp;
    <input type="text" id="txtNickname" name="nickname" placeholder="닉네임을 입력해주세요.">
  </p>
  <button type="submit" id="btnJoin">회원가입</button>
</form>
</body>
</html>