<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>SimpleBoard | 로그인</title>
  <link rel="stylesheet" href="/css/member/member.css" type="text/css">
</head>
<body>
<div class="container">
  <form action="/login" method="post">
    <img class="img-simple-board" src="/img/SimpleBoard.jpg">
    <input type="text" id="txtMemberId" name="memberId" placeholder="아이디를 입력해주세요.">
    <input type="text" id="txtPassword" name="password" placeholder="비밀번호를 입력해주세요.">
    <button type="submit" id="btnLogin">로그인</button>
  </form>
  <a href="/join" class="btn-member">계정이 없으신가요? 가입하기</a>
  <a href="/" class="btn-member">메인 화면으로 돌아가기</a>
</div>
</body>
</html>